{% extends "base.html" %}
{% load static %}

{% block content %}




<section id="about" class="section about">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">

                <h3 class="section-title">Civilian Harm Dataset</h3>

                <p>Civilian Harm Dataset is .........</p>
                <p>We used Civilian Harm Dataset............</p>

                <figure>
                    <img alt="" class="img-responsive" src="{% static 'assets/images/about-us.jpg' %}">
                </figure>

            </div><!-- /.col-sm-6 -->

            <div class="col-sm-6">

                <h3 class="section-title multiple-title">Datasets integrated </h3>

                <!-- <p>We created ...enriching, refining, linking, visualising, and publishing resources.</p> -->

                <ul class="list-arrow-right">

            <li><a href="https://eyesonrussia.org/">Efdsa</a></li> <p>fdsafdsa</p>
                    <li><a href="https://todo.com">Cifdsafdsrm</a></li> <p>Wfdsafdsfdsaons. </p>




                </ul>

            </div><!-- /.col-sm-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

{% endblock %}
