{% extends "base.html" %}
{% load static %}

{% block content %}

<section id="about" class="section about">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">

                <h3 class="section-title">Civilian Harm events</h3>

                <p>Event </p>
                <p>We used linked data is .........</p>

                <figure>
                    <img alt="" class="img-responsive" src="{% static 'assets/images/about-us.jpg' %}">
                </figure>

            </div><!-- /.col-sm-6 -->

            <div class="col-sm-6">
            This page contains the refined and enriched information about event {{eventid}} in the Civilian Harm dataset.
            <h4>As a demo, the following items are some key information about this event.</h4>
            <p>label: {{label}} </p>
            <p>date: {{date}} </p>
            <p>city: {{city}} </p>
            <p>URL: {{url}} </p>
                </ul>
<hr>
                <h4>Please refer to the <a href="https://triplydb.com/linked4resilience/Civilian-Harm-April-2023/"><u>TriplyDB store</u></a> for more details</h4>

            </div><!-- /.col-sm-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

{% endblock %}
