{% extends "base.html" %}
{% load static %}

{% block content %}


<section id="about" class="section about">
    <div class="container">
        <div class="row">
            <!-- <div class="col-sm-6"> -->

                <!-- <h3 class="section-title">Why linked data?</h3>

                <p>Linked data is a method for structuring and connecting information on the web in a way that makes it more meaningful and useful.
                    It's based on a set of principles and technologies that enable data to be linked, shared, and queried across different sources and applications. </p>
                <p>Linked data is employed in this project to integrate and enrich geo-annotated event data related to resilience in war situations. This approach facilitates data integration,
                    semantic enrichment, and advanced querying,
                    enabling a more comprehensive and insightful analysis of the conflict's impact on public facilities and regions.</p>

               -->

            <!-- </div><!-- /.col-sm-6 -->
</br>
</br>
</br>
            <div class="col-sm-6">

                <h3 class="section-title multiple-title">Datasets integrated </h3>

                <!-- <p>We created ...enriching, refining, linking, visualising, and publishing resources.</p> -->

                <ul class="list-arrow-right">

            <li><a href="https://eyesonrussia.org/">Eyes on Russia</a></li> <p>In response to the conflict, the Centre for Information Resilience (CIR) launched the <a href="https://eyesonrussia.org/"><u>Eyes on Russia (EoR)</u></a> project in January 2022. EoR aims to gather and verify media content related to Russia's invasion of Ukraine, providing access to verified information through a database and an interactive map. This project is valuable for journalists, NGOs, policymakers, and the public, offering insights into the conflict and its impact.</p>
                    <li><a href="https://todo.com">Civilian Harm</a></li> <p>Another noteworthy project is the <a href="https://ukraine.bellingcat.com/"><u>Civilian Harm in Ukraine (CH)</u></a> TimeMap, which provides a descriptive record of incidents, including source links, precise location data, and descriptions based on visual evidence. The structured data provided by CH facilitates a better understanding of the impact of the conflict on Ukrainian civilians. </p>

                    <h3 class="section-title multiple-title">Additional datasets used </h3>

                    <!-- <p>We created ...enriching, refining, linking, visualising, and publishing resources.</p> -->
                    <li>Shelter Locations Khakiv</li> <p>We used <a href="https://visitukraine.today/blog/101/bomb-shelters-shelters-and-defense-structures-in-the-regions-of-ukraine"><u>dataset about the shelters in Kharkiv</u></a> and measured the distance of damaging events in Kharkiv to the nearest shelters.</p>


                    <h3 class="section-title multiple-title">The Enriched and Integrated Dataset </h3>

                    <!-- <p>We created ...enriching, refining, linking, visualising, and publishing resources.</p> -->
                    <li>The enriched dataset</li> <p>The enriched datasets have been published on TriplyDB. Note that there are two versions. One up to April 2023, the latest one is up to December 2023.</p>
                    <li>The integrated dataset</li> <p>The integrated dataset is only available upon request.</p>


                </ul>

            </div><!-- /.col-sm-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

{% endblock %}
