{% extends "base.html" %}
{% load static %}

{% block content %}
<header id="site-header" class="site-header valign-center">
    <div class="intro">

        <h2>Linked Data for the Resilience of Ukraine</h2>

        <h1>Linked4Resilience</h1>

        <p>Enriching, refining, integrating, linking, visualising, and publishing resources</p>

        <a class="btn btn-white" data-scroll href="????">Watch video demostration</a>

    </div>
</header>

<section id="about" class="section about">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">

                <h3 class="section-title">Why linked data?</h3>

                <p>Linked data is .........</p>
                <p>We used linked data is .........</p>

                <figure>
                    <img alt="" class="img-responsive" src="{% static 'assets/images/about-us.jpg' %}">
                </figure>

            </div><!-- /.col-sm-6 -->

            <div class="col-sm-6">

                <h3 class="section-title multiple-title">What is in your demo?</h3>

                <p>We created ...enriching, refining, linking, visualising, and publishing resources.</p>

                <ul class="list-arrow-right">

<li>Integreated ...</li> <p>fdsafdsa</p>
                    <li>Enriched....</li> <p>We enriched the integrated dataset with multilingual labels, including French, Ukrainian, Dutch, and German. This results in a multilingual dataset for multi-national aid to ukrainian organisations. </p>

                      <li>Multilingual ....</li> <p>fdsafdsa</p>
                    <li>visualising ... </li> <p>fdsafdsa</p>
                    <li>Publishing ... </li> <p>fdsafdsa</p>
                    <li>Queries ... </li> <p>fdsafdsa</p>

                </ul>

            </div><!-- /.col-sm-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

<section id="facts" class="section bg-image-1 facts text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">

                <i class="ion-ios-calendar"></i>
                <h3>from Feb 2022<br>to April 2023</h3>

            </div>
            <div class="col-sm-3">

                <i class="ion-ios-location"></i>
                <h3>1234<br>damaging <br>events</h3>

            </div>
            <div class="col-sm-3">

                <i class="ion-ios-analytics"></i>
                <h3>10<br>Use cases</h3>

            </div>
            <div class="col-sm-3">

                <i class="ion-ios-world"></i>
                <h3>Enacting <br> Global<br> Aid</h3>

            </div>
        </div><!-- row -->
    </div><!-- container -->
</section>

<section id="speakers" class="section speakers">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h3 class="section-title">Members</h3>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="speaker">

                    <figure>
                        <img alt="" class="img-responsive center-block" width="300" src="{% static 'assets/images/speakers/speaker-1.png' %}">
                    </figure>

                    <h4>Manar Attar</h4>

                    <p>Main developer, Bachelor student<br>Vrije Universiteit Amsterdam</p>

                    <ul class="social-block">
                        <!-- <li><a href=""><i class="ion-social-twitter"></i></a></li> -->
                        <!-- <li><a href=""><i class="ion-social-facebook"></i></a></li> -->
                        <li><a href="https://www.linkedin.com/in/manar-attar/"><i class="ion-social-linkedin-outline"></i></a></li>
                        <!-- <li><a href=""><i class="ion-social-googleplus"></i></a></li> -->
                    </ul>

                </div><!-- /.speaker -->
            </div><!-- /.col-md-4 -->

            <div class="col-md-4">
                <div class="speaker">

                    <figure>
                        <img alt="" class="img-responsive center-block" width="300" src="{% static 'assets/images/speakers/speaker-2.png' %}">
                    </figure>

                    <h4>Shuai Wang</h4>

                    <p>Scientific Engineer <br> Vrije Universiteit Amsterdam</p>

                    <ul class="social-block">
                        <!-- <li><a href=""><i class="ion-social-twitter"></i></a></li> -->
                        <!-- <li><a href=""><i class="ion-social-facebook"></i></a></li> -->
                        <li><a href="https://www.linkedin.com/in/shuai-ai/"><i class="ion-social-linkedin-outline"></i></a></li>
                        <!-- <li><a href=""><i class="ion-social-googleplus"></i></a></li> -->
                    </ul>

                </div><!-- /.speaker -->
            </div><!-- /.col-md-4 -->

            <div class="col-md-4">
                <div class="speaker">

                    <figure>
                        <img alt="" class="img-responsive center-block" width="300" src="{% static 'assets/images/speakers/speaker-3.jpg' %}">
                    </figure>

                    <h4>Ronald Siebes</h4>

                    <p>Assistant Professor <br> Vrije Universiteit Amsterdam</p>

                    <ul class="social-block">
                        <!-- <li><a href=""><i class="ion-social-twitter"></i></a></li> -->
                        <!-- <li><a href=""><i class="ion-social-facebook"></i></a></li> -->
                        <li><a href="https://www.linkedin.com/in/ronald-siebes-5215563/"><i class="ion-social-linkedin-outline"></i></a></li>
                        <!-- <li><a href=""><i class="ion-social-googleplus"></i></a></li> -->
                    </ul>

                </div><!-- /.speaker -->
            </div><!-- /.col-md-4 -->
<div class="row">
            <div class="col-md-4">
                <div class="speaker">

                    <figure>
                        <img alt="" class="img-responsive center-block" width="300" src="{% static 'assets/images/speakers/speaker-6.png' %}">
                    </figure>

                    <h4>Zhisheng Huang</h4>

                    <p>Senior Researcher <br> Vrije Universiteit Amsterdam</p>

                    <ul class="social-block">
                        <!-- <li><a href=""><i class="ion-social-twitter"></i></a></li> -->
                        <!-- <li><a href=""><i class="ion-social-facebook"></i></a></li> -->
                        <!-- <li><a href="https://www.linkedin.com/in/ronald-siebes-5215563/"><i class="ion-social-linkedin-outline"></i></a></li> -->
                        <!-- <li><a href=""><i class="ion-social-googleplus"></i></a></li> -->
                    </ul>

                </div><!-- /.speaker -->
            </div><!-- /.col-md-4 -->


  <div class="col-md-4">

      <div class="speaker">

          <figure>
              <img alt="" class="img-responsive center-block" width="300"  src="{% static 'assets/images/speakers/speaker-4.jpg' %}">
          </figure>

          <h4>Eirik Kultorp</h4>

          <p>Linked Data Engineer</p>

          <ul class="social-block">
              <li><a href=""><i class="ion-social-twitter"></i></a></li>
              <li><a href=""><i class="ion-social-facebook"></i></a></li>
              <li><a href=""><i class="ion-social-linkedin-outline"></i></a></li>
              <li><a href=""><i class="ion-social-googleplus"></i></a></li>
          </ul>
      </div>
  </div>



            <div class="col-md-4">
                <div class="speaker">

                    <figure>
                        <img alt="" class="img-responsive center-block" width="300" src="{% static 'assets/images/speakers/speaker-5.jpg' %}">
                    </figure>

                    <h4>Tianyang Lu</h4>

                    <p>Web Engineer<br> </p>

                    <ul class="social-block">
                        <!-- <li><a href=""><i class="ion-social-twitter"></i></a></li> -->
                        <!-- <li><a href=""><i class="ion-social-facebook"></i></a></li> -->
                        <!-- <li><a href="https://www.linkedin.com/in/ronald-siebes-5215563/"><i class="ion-social-linkedin-outline"></i></a></li> -->
                        <!-- <li><a href=""><i class="ion-social-googleplus"></i></a></li> -->
                    </ul>

                </div><!-- /.speaker -->
            </div><!-- /.col-md-4 -->



        </div><!-- /.row -->




        </div>
    </div>
</section>



<section id="faq" class="section faq">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Event FAQs</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a class="faq-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> What are the datasets integrated?</a>
                            </h4>
                        </div>

                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <h3>Hello</h3>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="faq-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> What are the ontologies used ?</a>
                            </h4>
                        </div>

                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">Hello</div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="faq-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> How are locations represented ?</a>
                            </h4>
                        </div>

                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">Hello</div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="faq-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour"> Where can I find the usecases ?</a>
                            </h4>
                        </div>

                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">Hello</div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title">
                                <a class="faq-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive"> I have specific questions that are not addressed here. Who can help me ?</a>
                            </h4>
                        </div>

                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                            <div class="panel-body">Hello</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<section id="photos" class="section photos">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Use Cases</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="grid">

                    <li class="grid-item grid-item-sm-6">
                        <img alt="" class="img-responsive center-block" src="{% static 'assets/images/photos/photos-1.jpg' %}">
                    </li>

                    <li class="grid-item grid-item-sm-3">
                        <img alt="" class="img-responsive center-block" src="{% static 'assets/images/photos/photos-2.jpg' %}">
                    </li>

                    <li class="grid-item grid-item-sm-3">
                        <img alt="" class="img-responsive center-block" src="{% static 'assets/images/photos/photos-3.jpg' %}">
                    </li>

                    <li class="grid-item grid-item-sm-3">
                        <img alt="" class="img-responsive center-block" src="{% static 'assets/images/photos/photos-5.jpg' %}">
                    </li>

                    <li class="grid-item grid-item-sm-3">
                        <img alt="" class="img-responsive center-block" src="{% static 'assets/images/photos/photos-6.jpg' %}">
                    </li>

                    <li class="grid-item grid-item-sm-3">
                        <img alt="" class="img-responsive center-block" src="{% static 'assets/images/photos/photos-7.jpg' %}">
                    </li>

                    <li class="grid-item grid-item-sm-3">
                        <img alt="" class="img-responsive center-block" src="{% static 'assets/images/photos/photos-8.jpg' %}">
                    </li>

                    <li class="grid-item grid-item-sm-3">
                        <img alt="" class="img-responsive center-block" src="{% static 'assets/images/photos/photos-2.jpg' %}">
                    </li>

                    <li class="grid-item grid-item-sm-3">
                        <img alt="" class="img-responsive center-block" src="{% static 'assets/images/photos/photos-3.jpg' %}">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="location" class="section location">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h3 class="section-title">Contact</h3>
                <address>
                    <p>The integreatd and enriched dataset is available upon request. <br>Please contact us. <br> Email: shuai.wang@vu.nl</p>
                </address>
            </div>

        </div>
    </div>
</section>
{% endblock %}
