{% extends "base.html" %}
{% load static %}

{% block content %}

<section id="location" class="section location">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h3 class="section-title">Contact</h3>
                <address>
                    <p>The integreatd and enriched dataset is available upon request. <br>Please contact us. <br> Email: shuai.wang@vu.nl</p>
                </address>
            </div>

        </div>
    </div>
</section>
{% endblock %}
