{% extends "base.html" %}
{% load static %}

{% block content %}
<header id="site-header" class="site-header valign-center">
    <div class="intro">

        <h2>Linked Data for the Resilience of Ukraine</h2>

        <h1>Linked4Resilience</h1>

        <p>Enriching, refining, integrating, linking, visualising, and publishing resources</p>

        <!-- <a class="btn btn-white" href="https://www.youtube.com/watch?v=E_fr1KzfsVs&vq=hd1080">Watch video demostration</a> -->
        <a class="btn btn-white" href="https://www.youtube.com/watch?v=E_fr1KzfsVs&vq=hd1080">Watch video demostration</a>

    </div>
</header>

<section id="about" class="section about">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">

                <h3 class="section-title">Why linked data?</h3>

                <p>Linked Data is a method of structuring and interconnecting data on the web, enabling seamless navigation and exploration of diverse information sources. It uses standard web protocols and technologies to create a global data ecosystem where data elements are linked to related data, allowing for easier discovery, retrieval, and integration.</p>
                <p>In the face of challenges brought by the Russian-Ukrainian conflict, our project leverages the power of Linked Data to unify and enrich geo-annotated event datasets. This innovative approach not only aids in integrating critical information sources but also lays the foundation for more effective resilience projects in Ukraine and other war-related cases. Join us on this journey of data transformation and discover how Linked Data can be applied for societal impact and positive change.</p>

                <figure>
                    <img alt="" class="img-responsive" src="{% static 'assets/images/about-us.jpg' %}">
                </figure>

            </div><!-- /.col-sm-6 -->

            <div class="col-sm-6">

                <h3 class="section-title multiple-title">What is our project?</h3>

                <p>Our analysis uncovered significant data format variations in reported events, largely due to the lack of standardized vocabularies and ontologies. To address this, we applied popular ontologies like Schema.org, Dublin Core, Simple Event Ontology, and GeoNames for consistent geo-information representation.</p>

                <ul class="list-arrow-right">

                    <li>Converting </li> <p>Using linked data we were able to transform war events collected for EyesOnRussia and Civilian Harm into RDF triples enabling the data to be linked with semantic meanings. Each event was assigned a URI, categorized as 'Event,' and linked with a date province, city, and postal code in triples format</p>
                    <li>Enriching </li> <p>We inferred missing data and enriched the dataset with additional information. For example, the postal code is retrieved by calling GeoNames' APIs. Also, missing cities and provinces were retrieved utilizing coordinates. Difficulties due to spelling errors and multilingual cases were manually resolved. </p>
                    <li>Multilingual</li> <p>Multilinguality was improved in the integrated dataset with the addition of multilingual labels, including French, Ukrainian, Dutch, and German. This results in a multilingual dataset for multi-national aid to Ukrainian organizations. </p>
                    <li>Integrating </li> <p>We designed a pipeline of data integration and the resulting integration was verified by volunteers. We implemented an algorithm to verify the proximity criteria based on a set of parameters. Identified 206 event pairs that need to be merged, each associated with a new event URI representing their integration. We introduce a hasPrimarySource relation for the event with richer information. </p>
                    <li>Publishing</li> <p>We published our converted and enriched version of the datasets on TriplyDB platform, our integrated dataset is also published but only available upon request due to privacy reasons.</p>
                    <li>Visualizing </li> <p>TriplyDB features allowed us to visualize our use cases by executing SPARQL Queries we were able to showcase the benefits of our datasets, e.g. visualizing events locations on a map and plotting graphs</p>

                </ul>

            </div><!-- /.col-sm-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

<section id="facts" class="section bg-image-1 facts text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">

                <i class="ion-ios-calendar"></i>
                <h3>From February 2022<br>to December 2023</h3>

            </div>
            <div class="col-sm-3">

                <i class="ion-ios-location"></i>
                <h3>1234<br>damaging <br>events</h3>

            </div>
            <div class="col-sm-3">

                <i class="ion-ios-analytics"></i>
                <h3>5<br>Use cases</h3>

            </div>
            <div class="col-sm-3">

                <i class="ion-ios-world"></i>
                <h3>Enacting <br> Global<br> Aid</h3>

            </div>
        </div><!-- row -->
    </div><!-- container -->
</section>

<section id="speakers" class="section speakers">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h3 class="section-title">Members</h3>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="speaker">

                    <figure>
                        <img alt="" class="img-responsive center-block" width="300" src="{% static 'assets/images/speakers/speaker-1.jpeg' %}">
                    </figure>

                    <h4>Manar Attar</h4>

                    <p>Main developer, Bachelor student<br>Vrije Universiteit Amsterdam</p>

                    <ul class="social-block">
                        <!-- <li><a href=""><i class="ion-social-twitter"></i></a></li> -->
                        <!-- <li><a href=""><i class="ion-social-facebook"></i></a></li> -->
                        <li><a href="https://www.linkedin.com/in/manar-attar/"><i class="ion-social-linkedin-outline"></i></a></li>
                        <!-- <li><a href=""><i class="ion-social-googleplus"></i></a></li> -->
                    </ul>

                </div><!-- /.speaker -->
            </div><!-- /.col-md-4 -->

            <div class="col-md-4">
                <div class="speaker">

                    <figure>
                        <img alt="" class="img-responsive center-block" width="300" src="{% static 'assets/images/speakers/speaker-2.png' %}">
                    </figure>

                    <h4>Shuai Wang</h4>

                    <p>Scientific Engineer <br> Vrije Universiteit Amsterdam</p>

                    <ul class="social-block">
                        <!-- <li><a href=""><i class="ion-social-twitter"></i></a></li> -->
                        <!-- <li><a href=""><i class="ion-social-facebook"></i></a></li> -->
                        <li><a href="https://www.linkedin.com/in/shuai-ai/"><i class="ion-social-linkedin-outline"></i></a></li>
                        <!-- <li><a href=""><i class="ion-social-googleplus"></i></a></li> -->
                    </ul>

                </div><!-- /.speaker -->
            </div><!-- /.col-md-4 -->

            <div class="col-md-4">
                <div class="speaker">

                    <figure>
                        <img alt="" class="img-responsive center-block" width="300" src="{% static 'assets/images/speakers/speaker-3.jpg' %}">
                    </figure>

                    <h4>Ronald Siebes</h4>

                    <p>Assistant Professor <br> Vrije Universiteit Amsterdam</p>

                    <ul class="social-block">
                        <!-- <li><a href=""><i class="ion-social-twitter"></i></a></li> -->
                        <!-- <li><a href=""><i class="ion-social-facebook"></i></a></li> -->
                        <li><a href="https://www.linkedin.com/in/ronald-siebes-5215563/"><i class="ion-social-linkedin-outline"></i></a></li>
                        <!-- <li><a href=""><i class="ion-social-googleplus"></i></a></li> -->
                    </ul>

                </div><!-- /.speaker -->
            </div><!-- /.col-md-4 -->
<div class="row">
            <div class="col-md-4">
                <div class="speaker">

                    <figure>
                        <img alt="" class="img-responsive center-block" width="300" src="{% static 'assets/images/speakers/speaker-6.png' %}">
                    </figure>

                    <h4>Zhisheng Huang</h4>

                    <p>Senior Researcher <br> Vrije Universiteit Amsterdam</p>

                    <ul class="social-block">
                        <!-- <li><a href=""><i class="ion-social-twitter"></i></a></li> -->
                        <!-- <li><a href=""><i class="ion-social-facebook"></i></a></li> -->
                        <!-- <li><a href="https://www.linkedin.com/in/ronald-siebes-5215563/"><i class="ion-social-linkedin-outline"></i></a></li> -->
                        <!-- <li><a href=""><i class="ion-social-googleplus"></i></a></li> -->
                    </ul>

                </div><!-- /.speaker -->
            </div><!-- /.col-md-4 -->


  <div class="col-md-4">

      <div class="speaker">

          <figure>
              <img alt="" class="img-responsive center-block" width="300"  src="{% static 'assets/images/speakers/speaker-7.jpeg' %}">
          </figure>

          <h4>Eirik Kultorp</h4>

          <p>Linked Data Engineer</p>

          <ul class="social-block">
              <!-- <li><a href=""><i class="ion-social-twitter"></i></a></li>
              <li><a href=""><i class="ion-social-facebook"></i></a></li>
              <li><a href=""><i class="ion-social-linkedin-outline"></i></a></li>
              <li><a href=""><i class="ion-social-googleplus"></i></a></li> -->
              <li><a href="https://www.linkedin.com/in/eirik-kultorp-aa0225256"><i class="ion-social-linkedin-outline"></i></a></li>
          </ul>
      </div>
  </div>



            <div class="col-md-4">
                <div class="speaker">

                    <figure>
                        <img alt="" class="img-responsive center-block" width="300" src="{% static 'assets/images/speakers/speaker-5.jpg' %}">
                    </figure>

                    <h4>Tianyang Lu</h4>

                    <p>Web Engineer<br> </p>

                    <ul class="social-block">
                        <!-- <li><a href=""><i class="ion-social-twitter"></i></a></li> -->
                        <!-- <li><a href=""><i class="ion-social-facebook"></i></a></li> -->
                        <!-- <li><a href="https://www.linkedin.com/in/ronald-siebes-5215563/"><i class="ion-social-linkedin-outline"></i></a></li> -->
                        <!-- <li><a href=""><i class="ion-social-googleplus"></i></a></li> -->
                    </ul>

                </div><!-- /.speaker -->
            </div><!-- /.col-md-4 -->



        </div><!-- /.row -->




        </div>
    </div>
</section>







<section id="photos" class="section photos">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Demo</h3>
            </div>
        </div>
        <div class="row">
<center>
          <iframe width="960" height="615" src="https://www.youtube.com/embed/E_fr1KzfsVs?si=P1yRhGrzCbGyjbGF&vq=hd1080" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </center>

    </div>
    </div>
</section>

      <section id="photos" class="section photos">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <h3 class="section-title"><a href="/use">Use Cases</a></h3>
                  </div>
              </div>


See the <a href="/use"><b><u>Use Cases</u></b></a> page for details. The images below are plots extracted from our papers, where description is provided. </br></br>

            <div class="col-md-12">
                <ul class="grid">


                    <li class="grid-item grid-item-sm-6">
                        <img alt="" class="img-responsive center-block" src="{% static 'assets/images/photos/attacks.png' %}">
                    </li>


                                        <li class="grid-item grid-item-sm-3">
                                            <img alt="" class="img-responsive center-block" vertical-align="top"  src="{% static 'assets/images/photos/Kharkiv-shelters-map.png' %}">
                                        </li>


                                        <li class="grid-item grid-item-sm-3">
                                            <img alt="" class="img-responsive center-block" vertical-align="top" src="{% static 'assets/images/photos/kharkiv-heat.png' %}">
                                        </li>


                    <li class="grid-item grid-item-sm-3">
                        <img alt="" class="img-responsive center-block" vertical-align="top"  src="{% static 'assets/images/photos/Region-attacks.png' %}">
                    </li>

                    <li class="grid-item grid-item-sm-3">
                        <img alt="" class="img-responsive center-block" vertical-align="top" src="{% static 'assets/images/photos/Kherson2.png' %}">
                    </li>

                    <!-- <li class="grid-item grid-item-sm-3">
                        <img alt="" class="img-responsive center-block" src="{% static 'assets/images/photos/kharkiv-attacked.png' %}">
                    </li> -->












                </ul>
            </div>
        </div>
    </div>
</section>




<section id="faq" class="section faq">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">FAQs</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a class="faq-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> What are the datasets integrated?</a>
                            </h4>
                        </div>

                        <!-- <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne"> -->
                            <div class="panel-body">
                                <!-- <h3>Two datasets are integreated</h3> -->
                                <p>There are two datasets integrated: <a href="https://eyesonrussia.org/"><u>Eyes on Russia</u></a> and <a href="https://ukraine.bellingcat.com/"><u>Civilian Harm</u></a>. These
                                datasets were selected for this project because they are similar in their format and type. Additionally, in one of our use cases, we used the <a href="https://visitukraine.today/blog/101/bomb-shelters-shelters-and-defense-structures-in-the-regions-of-ukraine"><u>dataset about the shelters in Kharkiv</u></a>.</p>
                            </div>
                        <!-- </div> -->
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="faq-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> What are the ontologies used ?</a>
                            </h4>
                        </div>

                        <!-- <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo"> -->
                            <div class="panel-body">We used the Simple Event Ontology, schema.org, Dublin Core, and GeoNames.</div>
                        <!-- </div> -->
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="faq-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> How are locations represented ?</a>
                            </h4>
                        </div>

                        <!-- <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree"> -->
                            <div class="panel-body">We link every event with their corresponding GoeNames coordinates. Merged events take the location of the ones that have longer description. </div>
                        <!-- </div> -->
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="faq-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour"> Where can I find the usecases?</a>
                            </h4>
                        </div>

                        <!-- <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour"> -->
                            <div class="panel-body">See the <a href="/use"><b><u>Use Cases</u></b></a> page for details.</div>
                        <!-- </div> -->
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title">
                                <a class="faq-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive"> I have specific questions that are not addressed here. Who can help me ?</a>
                            </h4>
                        </div>

                        <!-- <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive"> -->
                          <div class="panel-body">Please contact Shuai Wang at <a href="mailto:shuai.wang@vu.nl"><u>shuai.wang@vu.nl</u></a> and Manar Attar at <a href="mailto:manarattar77@gmail.com"><u>manarattar77@gmail.com</u></a>.</div>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
</section>


<section id="location" class="section location">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h3 class="section-title">Contact</h3>
                <address>
                    <p>The integreatd and enriched dataset is available upon request. <br>Please contact Shuai Wang at <a href="mailto:shuai.wang@vu.nl"><u>shuai.wang@vu.nl</u></a> and Manar Attar at <a href="mailto:manarattar77@gmail.com"><u>manarattar77@gmail.com</u></a></p>
                </address>
            </div>

        </div>
    </div>
</section>

{% endblock %}
