{% extends "base.html" %}
{% load static %}

{% block content %}


<section id="about" class="section about">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">

                <h3 class="section-title">Why linked data?</h3>

                <p>Linked data is .........</p>
                <p>We used linked data is .........</p>

                <figure>
                    <img alt="" class="img-responsive" src="{% static 'assets/images/about-us.jpg' %}">
                </figure>

            </div><!-- /.col-sm-6 -->

            <div class="col-sm-6">

                <h3 class="section-title multiple-title">Datasets integrated </h3>

                <!-- <p>We created ...enriching, refining, linking, visualising, and publishing resources.</p> -->

                <ul class="list-arrow-right">

            <li><a href="https://eyesonrussia.org/">Eyes on Russia</a></li> <p>fdsafdsa</p>
                    <li><a href="https://todo.com">Civilian Harm</a></li> <p>We enriched the integrated dataset with multilingual labels, including French, Ukrainian, Dutch, and German. This results in a multilingual dataset for multi-national aid to ukrainian organisations. </p>

                    <h3 class="section-title multiple-title">Additional datasets used </h3>

                    <!-- <p>We created ...enriching, refining, linking, visualising, and publishing resources.</p> -->
                    <li>Shelter Locations Khakiv</li> <p>xxx</p>


                    <h3 class="section-title multiple-title">Ontologies used </h3>

                    <!-- <p>We created ...enriching, refining, linking, visualising, and publishing resources.</p> -->
                    <li>TODO</li> <p>xxx</p>


                </ul>

            </div><!-- /.col-sm-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

{% endblock %}
