{% extends "base.html" %}
{% load static %}

{% block content %}


<section id="about" class="section about">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">

                <h3 class="section-title">Publication</h3>

                <p>.............</p>
                <p>..............</p>



            </div><!-- /.col-sm-6 -->

            <div class="col-sm-6">

                <h3 class="section-title multiple-title">Research Papers</h3>

                <!-- <p>We created ...enriching, refining, linking, visualising, and publishing resources.</p> -->

                <ul class="list-arrow-right">

            <li><a href="https://shuai.ai/static/files/paper/SIGSPATIAL_paper.pdf">Converting and Enriching Geo-annotated Event Data: Integrating Information for Ukraine Resilience</a></li>
                  <i class="fa fa-cloud"></i> <a href="https://sigspatial2023.sigspatial.org/">ACM SIGSPATIAL Conference </a> <p>Manar Attar, Shuai Wang, Ronald Siebes, Eirik Kultorp</p>

                    <h3 class="section-title multiple-title">Demo papers </h3>

                    <li><a href="https://shuai.ai/static/files/paper/BNAIC_manar_demo.pdf">Using Integrated and Enriched Linked Data for Ukraine Resilience</a></li>

                    <i class="fa fa-cloud"></i> <a href="https://bnaic2023.tudelft.nl">BNAIC-BeNeLearn JOINT INTERNATIONAL SCIENTIFIC CONFERENCES ON AI AND MACHINE LEARNING </a> <p>Manar Attar, Shuai Wang, Ronald Siebes, Eirik Kultorp</p>



                </ul>

            </div><!-- /.col-sm-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

{% endblock %}
