{% extends "base.html" %}
{% load static %}

{% block content %}


<section id="about" class="section about">
    <div class="container">

                <h3 class="section-title">How to use linked data?</h3>

                <p>Linked data is .........</p>
                <p>We used linked data is ...linked data is ...linked data is ...linked data is ...linked data is ...linked data is ...linked data is ...linked data is .........</p>


            <!-- </div><!-- /.col-sm-6 --> -->

            <div class="col-sm-6">

                <h3 >Use case 1</h3>

                <figure>
                    <img alt="" class="img-responsive" src="{% static 'assets/images/about-us.jpg' %}">
                </figure>

                <p>We created ...enriching, refining, linking, visualising, and publishing resources.</p>



                <h3>Use case 2</h3>

                <figure>
                    <img alt="" class="img-responsive" src="{% static 'assets/images/about-us.jpg' %}">
                </figure>

                <p>We created ...enriching, refining, linking, visualising, and publishing resources.</p>


                                <h3>Use case 3</h3>

                                <figure>
                                    <img alt="" class="img-responsive" src="{% static 'assets/images/about-us.jpg' %}">
                                </figure>

                                <p>We created ...enriching, refining, linking, visualising, and publishing resources.</p>



                                                <h3>Use case 4</h3>

                                                <figure>
                                                    <img alt="" class="img-responsive" src="{% static 'assets/images/about-us.jpg' %}">
                                                </figure>

                                                <p>We created ...enriching, refining, linking, visualising, and publishing resources.</p>



                                                                <h3>Use case 5</h3>

                                                                <figure>
                                                                    <img alt="" class="img-responsive" src="{% static 'assets/images/about-us.jpg' %}">
                                                                </figure>

                                                                <p>We created ...enriching, refining, linking, visualising, and publishing resources.</p>




    </div><!-- /.container -->
</section>

{% endblock %}
